
.title_green{
  /*border-width:;*/
  border: 100px;
  border-color: #00b300;
  background-color: #00e600;
}

.title_blue{
  height: 500px
  border: 100px;
  border-color: ##b3e0ff;
  background-color: #008ae6;
}

.sidebar{
  float: left;
  position: absolute;
  background-color:  #f2f2f2;
  width: 10%;
}

.top-box {
  width: 75%;
  padding-left: 1%;
  margin-left: 11%;
}

.bg-info{
  padding-bottom: 50%;
}

.nav{
  margin-left: 10%;
}

#purple-box {
  margin-left: 17.75%;
  margin-right: 18.5%;
  background-color: #f9e6ff;
}

#green_box{
  background-color: green;
  padding-bottom: 3.25%;
}
